@{
    ViewData["Title"] = "Inicio";
}

<div class="container-fluid">

    <div class="card">

        <div class="card-body">

            <h3 class="fw-bold">
                Bienvenido a AWESOME
            </h3>

            <p class="text-muted mb-0">
                Alfipac Warehouse System Manager
            </p>

        </div>

    </div>

</div>